/* Estilos para h3 y h4 dentro de cada sección */
#encuentranos h3, #encuentranos h4,
#encuentranos1 h3, #encuentranos1 h4,
#encuentranos2 h3, #encuentranos2 h4,
#encuentranos3 h3, #encuentranos3 h4,
#encuentranos4 h3, #encuentranos4 h4,
#encuentranos5 h3, #encuentranos5 h4,
#encuentranos6 h3, #encuentranos6 h4 {
	text-align: center;
}

/* Estilos generales para cada sección */
#encuentranos, #encuentranos1, #encuentranos2, 
#encuentranos3, #encuentranos4, #encuentranos5, #encuentranos6 {
	background: #000;
	color: #fff;
	text-align: center;
	margin-top: 0px;
}

/* Estilos para el contenedor principal en cada sección */
#encuentranos .contenedor,
#encuentranos1 .contenedor,
#encuentranos2 .contenedor,
#encuentranos3 .contenedor,
#encuentranos4 .contenedor,
#encuentranos5 .contenedor,
#encuentranos6 .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Estilos para la clase .encuentranos-pet (comparten estilos independientemente del ID) */
.encuentranos-pet {
	margin: 15px;
	width: 300px;
}

.contenedor3 table{
	display: flex;
}


.encuentranos-pet img {
	width: 250px;
	height: 250px;
	border-radius: 40%;
	border: 1px solid SaddleBrown;
}

/* Estilos para contenedores secundarios dentro de cada sección */
#encuentranos .contenedor2,
#encuentranos1 .contenedor2,
#encuentranos2 .contenedor2,
#encuentranos3 .contenedor2,
#encuentranos4 .contenedor2,
#encuentranos5 .contenedor2,
#encuentranos6 .contenedor2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#encuentranos .contenedor3,
#encuentranos1 .contenedor3,
#encuentranos2 .contenedor3,
#encuentranos3 .contenedor3,
#encuentranos4 .contenedor3,
#encuentranos5 .contenedor3,
#encuentranos6 .contenedor3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: auto;
	background: #000;
}

/* Estilos para elementos con clase .encuentranos */
.encuentranos {
	font-size: 18px;
	color: #fff;
	line-height: 20px;
	margin-bottom: -15px;
}

/* Estilos para elementos con clase .encuentranos que están dentro de cada sección */
#encuentranos .encuentranos,
#encuentranos1 .encuentranos,
#encuentranos2 .encuentranos,
#encuentranos3 .encuentranos,
#encuentranos4 .encuentranos,
#encuentranos5 .encuentranos,
#encuentranos6 .encuentranos {
	color: #fff;
	line-height: 20px;
	margin-bottom: -15px;
}
