
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi&display=swap');

/* -----Inicio - Estilos del header----- */

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    top:0;
    z-index: 20;
}

.header__logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
}

.header__logo {
    width: 100px;
}
.header__boton-abrir, .header__boton-cerrar {
    border: none;
    background: none;
    color: var(--color-blanco);
    font-size: 1.8em;
}

.header__menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-gris-oscuro);
    width: 70vw;
    height: 100%;;
    padding: 50px 0;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
}

.header__menu--active {
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transform: translate(0);
}

.header__boton-cerrar {
    color: var(--color-naranja);
    position: absolute;
    top: 0;
    left: 0px;
    margin: 5px 15px;
}
.header__lista {
    border-bottom: 1px solid var(--color-gris-claro);
    padding: 15px;
}

.header__enlace{
    color: var(--color-blanco);
}








/* .active {
    display: block;
    position: absolute;
    top: 80px;
    background-color: #fff;
    z-index: 20;
}
 */





/* -----Fin - Estilos del Menú----- */


/* -----Inicio - Diseño Responsive - Desktop----- */

/* @media(min-width:1024px){
    .header {
        width: 100%;
    }

    .header__contenedor {
        width: 100%;
    }
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        display: flex;
        background-color: transparent;
    }
    .menu a{
        border: none;
        font-size: 30px;
        color: var(--color-blanco);
    }
    header label{
        display: none;
    }
} */

/* -----Fin - Diseño Responsive - desktop----- */